.form {
  display: flex;
  flex-direction: column;
  max-width: 38em;
  margin: 2% auto;
  padding: 1em 3em 2em 3em;
  background-color: white;
  border-radius: br * 1.4;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.label {
  width: 100%;
  padding: 0.8em;
  line-height: 1.4;
  background-color: grey-lightest;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: grey-dark;
  background-color: grey-light;
}
.input {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: grey-lightest;
  border: 1px solid grey;
  border-radius: 3px;
}
textarea:focus,
input:focus {
  outline: none;
}
.submit {
  display: block;
  padding: 1.15em 4em;
  border: 0.1em solid #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.4s;
  background-color: gray;
}
.submit:hover {
  border: 0.4em solid #706464;
  color: #ffffff;
  transform: scale(1.02);
  background-color: #271d1d;
  border: 0.1em solid black;
}
.inputError {
  font-size: 14px;
  color: red;
  border-radius: 16px;
  text-align: center;
  padding: 2px 2px;
  padding-left: 3px;
  transition-duration: 500ms;
  transition-property: color;
  transition-timing-function: ease-in-out;
  visibility: visible;
}
.inputErrorInvisible {
  visibility: hidden;
}
.xicon {
  width: 4.5%;
  height: 4%;
  border-radius: 50%;
  display: block;
  padding-top: 0.5%;
  animation: 0.2s ease-in-out 0.1s forwards, scale 0.2s ease-in-out 0.2s both;
  transition-delay: 10s;
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.4, 1.4, 1);
  }
}
